/* .main {
    font-family: 'Revalia', cursive;
    font-family: 'Roboto', sans-serif;
} */
h1 {
  color: #f70000;
}

h2 {
  color: #23f307;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-webp body {
  background: url("../img/1.jpg") 0 0 repeat; }

body {
  height: 100vmax;
}

body { background: url(../img/1.webp) 0 0 repeat; }
