/*DEFAULT STYLE START*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
}

ul,ol {
  list-style: none;
}

:root {
	--widthcolum: 12;
	--width-advantages-list-item: 3;
	--main-orange: #cc9933;
	--main-grey: #999999;
	--main-darkgrey: #333333;
	--main-white: #fff;
}

h1
{
    color: rgb(247, 0, 0);
}

h2{
    color: rgb(35, 243, 7);
    font-size: 15px;
    display: flex;
}

body{
    background: url("../img/1.jpg") 0 0 repeat;
    height: 100vmax;
}
/*DEFAULT STYLE END*/

/*HEADER START*/
/*HEADER END*/

/*MAIN START*/
/*MAIN END*/

/*FOOTER START*/
/*FOOTER END*/
