/* .main {
    font-family: 'Revalia', cursive;
    font-family: 'Roboto', sans-serif;
} */
h1
{
    color: rgb(247, 0, 0);
}

h2{
    color: rgb(35, 243, 7);
    font-size: 15px;
    display: flex;
}
body{
    background: url("../img/1.jpg") 0 0 repeat;
    height: 100vmax;
}